*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header > .row{
    flex-direction: row-reverse;
}

.teleport{
    background-color: white;
    padding: 10px;
    border-radius: 25%;
}

.col-10{
    width: 5%;
}

.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.screen-box{
    width: 100%;
    position: relative;
    height: 100vh;
}

#first-shoes{
    background-color: red;
}

#second-shoes{
    background-color: green;
}

#third-shoes{
    background-color: yellow;
}

.offer-title{
    color: yellow;
}

#third-shoes>.content>.offer-title{
    color: green;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}